.bg-body{
    background: linear-gradient(to bottom, #fbd12c, #fbd12c 50%, white 50%);
}

.bg-black{
    background-color: #000;
}

.text-yellow{
    color:#fbd12c;
}

.border-title{
    border-top-left-radius: 7px;
    border-top-right-radius:  7px;
}

.bg-white{
    background-color: #fff;
}
.bg-gray{
    background-color: #333333;
}
.title-text{
    color: #000;
    font-size: 11px;
    font-weight: bold;
}

.subtitle-text{
    color: #000;
    font-size: 10px;
    font-weight: bold;
}

.btn-login{
    background-color: #fbd12c;
}

hr{
    border: 0.5px solid #cccccc;
}

.member-text{
    font-size: 12px;
}

.btn-member{
    background-color: #fbd12c;
    text-align: center;
    font-size: 13px;
}

.payment-List{
    list-style-type: none;
}

.item-text{
    color: #000;
    font-size: 12px;
}

.item-pay-text{
    color: #000;
    font-size: 15px;
    font-weight: bold;
}

.btn-pay{
    background-color: #fbd12c;
}

.btn-explorer{
    background-color: #000;
}

ul.promotion {
    position: relative;
    height: 350px;
}

ul > li.promotion-Item {
    width: 25%;
    list-style-type: none;
    position: absolute;
    top: 0;
    opacity: 0;
    text-align: center;
    transition: 1s opacity; 
}

.active {
    opacity: 1 !important;
}

* {
    box-sizing: border-box;
}

hr.item {
    border: 1px solid #fbd12c;
    margin-bottom: 0px !important;
}

p.item{
    margin: 0;
}

.title-text{
    color: #000;
    font-size: 15px;
    height: 45px;
}
.title-text1{
    color: #000;
    font-size: 12px;
}
.subtitle-text{
    color: #999999;
    font-size: 12px;
}

.input-quantity{
    width: 50px !important;
    border: 1px solid #cccccc;
    border-radius: 6px;
    height: 38px;
    width: 55.17px;
}

.img-add-cart{
    border-radius: 7px;
}

.btn-round{
    border-radius: 7px;
}

.btn-moreInfo{
    background-color: #fbd12c;
    position: absolute;
    width: 150px;
    right: 5%;
    bottom: 3%;
}

#cartSection{
    height: 149px;
    width: auto;
    overflow: auto;;
    background: #fff;
}
