<div class="container">
  <table class="table table-warning table-hover ">
    <thead class="thead-dark">
      <tr class="text-center">
        <th scope="col-4">Producto/Item</th>
        <th scope="col-1">Precio</th>
        <th scope="col">Cantidad</th>
        <th scope="col-1">Total/Uni.</th>
      </tr>
    </thead>
    <tbody *ngIf="listCart.length>0; else noneList">
      <tr *ngFor="let item of listCart" >
        <th scope="row">{{item.data.name}}</th>
        <td class="text-center">{{item.data.cost}}</td>
        <td class="text-center">{{item.quantity}}</td>
        <td class="text-center"> $ {{item.totalUni}}</td>
      </tr>
      <tr>
        <td class="col-10 text-right font-weight-bold">Total a pagar:</td>
        <td class="col-2"></td>
        <td class="col-2"></td>
        <td class="col text-center">$ {{totalPay}}</td>
      </tr>
    </tbody>
    <ng-template #noneList>
      <tbody *ngIf="listCart.length==0">
        <tr>
          <td class="text-center font-weight-bold col-12">El carrito se encuentra vacío.</td>
        </tr>
      </tbody>
    </ng-template>
  </table>

  <!--Buttons-->
  <div class="row">
    <div class="col">
      <a *ngIf="listCart.length>0" class="btn btn-warning ml-4" href="/products" >Seguir comprando</a>
      <a *ngIf="listCart.length==0" class="btn btn-info ml-4" href="/products" >Ir a comprar</a>
    </div>
    <div *ngIf="totalPay>0" class="col text-right">
      <button *ngIf="listCart.length>0" type="button" class="btn btn-danger mr-3" (click)="clearData()">Cancelar</button>
      <button *ngIf="listCart.length>0" type="button" class="btn btn-success mr-4" (click)="goToPay()">Pagar</button>
    </div>
  </div>
</div>

