.bg-body{
    background-color: #fff;
}

.bg-bottle{
    background-color: #000;
}
.bg-items{
    background-color: #333333;
}

hr {
    border: 1px solid #fbd12c;
    margin-bottom: 0px !important;
}

p{
    margin: 0;
}

.title-text{
    color: #000;
    font-size: 20px;
    height: 30px;
}
.title-text1{
    color: #000;
    font-size: 14px;
}
.title-text2{
    color: #000;
    font-size: 16px;
}
.subtitle-text{
    color: #999999;
    font-size: 14px;
}

.star {
  position: relative;
  display: inline-block;
  font-size: 1.5rem;
  color: #d3d3d3;
}
.full {
  color: yellow;
}
.half {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  color: yellow;
}

  .img-add-cart{
    border-radius: 7px;
}

.add-btn{
    background-color: #fbd12c;
}

.title-text-pack{
    color: #fff;
    font-size: 20px;
    background-color: #fbd12c;
}

.tips{
    color: #fbd12c;
    padding-top:25px;
}

.text-tips{
    color: #fff; 
}

.bg-tips{
    background-color: #666666;
}

.tips-div{
    height: 114px;
}

.tips-sommelier{
    color: #fff;
    font-size: 16px;
    background-color: #fbd12c;
    max-width: 22%;
    width: auto;
    position: absolute;
    top: 0;
    padding-left: 10px;
    padding-right: 10px;
}
.img-transfor{
    transform: rotate(270deg);
    height: 200px;
    width: 200px;
}
.first-element{
    margin-top: 4.75%!important;
}

#cartItems{
    position: fixed;
    top: 10%;
    right: 0%;
    z-index: 999;
}
#cartSection{
    height: 149px;
    width: auto;
    overflow: auto;;
    background: #fff;
}
.text-yellow{
    color:#fbd12c;
}
.img-arrow-left{
    cursor: pointer;
}
.text-alert{
    font-size: 14px;
}
.item-text{
    color: #000;
    font-size: 12px;
}
.btn-pay{
    background-color: #fbd12c;
}
.btn-explorer{
    background-color: #000;
}
.bg-yellow{
    background-color: #f2b517;
}
.bg-black{
    background-color: #000;
}