.bg-body{
    background: linear-gradient(to bottom, #C1272D 18%, white 18%);
}
.bg-wind{
    background-color: #C1272D;
}
.first-element{
    margin-top: 4.75%!important;
}
.bg-black{
    background-color: #000;
}
.text-white{
    color: #fff;
}
.text-red-wind{
    color: #C1272D;
}
.border-title{
    border-top-left-radius: 10px;
    border-top-right-radius:  10px;
}
.bg-white{
    background-color: #fff;
}
.bg-yellow{
    background-color: #fbd12c;
}
.btn-ship{
    background-color: #C1272D;
    color: #fff;
}
.bg-gray{
    background-color: #333333;
}
.text-gray{
    color: #333333 !important;
}
ul.promotion {
    position: relative;
    height: 360px;
}

ul > li.promotion-Item {
    width: 24%;
    list-style-type: none;
    position: absolute;
    top: 0;
    opacity: 0;
    text-align: center;
    transition: 1s opacity; 
}

.active {
    opacity: 1 !important;
}

* {
    box-sizing: border-box;
}

hr.item {
    border: 1px solid #fbd12c;
    margin-bottom: 0px !important;
}

p.item{
    margin: 0;
}
.title-text{
    color: #000;
    font-size: 14px;
    height: 40px;
}
.title-text1{
    color: #000;
    font-size: 12px;
}
.subtitle-text{
    color: #999999 !important;
    font-size: 12px;
}
.input-quantity{
    width: 50px !important;
    border: 1px solid #cccccc;
    border-radius: 6px;
    height: 38px;
    width: 55.17px;
}

.img-add-cart{
    border-radius: 7px;
}
.item-text{
    color: #000;
    font-size: 12px;
}
#cartSection{
    height: 149px;
    width: auto;
    overflow: auto;;
    background: #fff;
}

.btn-suggestion{
    background-color: #C1272D;
    color: #fff;
}
.img-cart-AR{
    cursor: pointer;
}
.btn-close{
    background-color: #C1272D;
    color: #fff;
}
.modal-header{
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}