<div class="bg-body first-element">
  <div class="container">
    <div class="row pt-4 pb-4">
      <div class="col">
        <h4 class="text-white">Bienvenido a tu cava virtual</h4>
      </div>
    </div>
    <div class="row pt-3 pb-2">
      <div class="col-4"><!--FIRST-->
        <div class="bg-black text-red-wind text-center border-title">
          <p class="p-2 mb-0">VINOS</p>
        </div>
        <div class="bg-white border p-3" >
          <ng-container *ngIf="cellarWind.length>0; else noneWinds">
            <div class="row" *ngFor="let item of cellarWind">
              <div class="col-2 pr-1 ml-0 text-wrap item-text">
                {{item.quantity}} x
              </div>
              <div class="col-8 pr-1 ml-0 text-wrap item-text">
                {{item.data.name}}
              </div>
              <div class="col-2 pr-1 ml-0 text-wrap item-text">
                <input type="checkbox" value="{{item.id}}" (change)="selectProduct($event)">
              </div>
            </div>
          </ng-container>
          <ng-template #noneWinds>
            <div class="row">
              <div class="col pr-1 ml-0 text-wrap text-center">
                <p class="item-text mt-3 pt-5 pb-5">¿Necesitas sugerencias con Vinos?</p>
                <div class="mt-5 mb-5 pt-3 pb-5">
                  <button class="btn btn-suggestion item-text pl-4 pr-4 pt-2 pb-2">
                    <span class="pl-2 pr-2">
                      Quiero Sugerencias
                    </span>
                  </button>
                </div>
              </div>
            </div>
          </ng-template>
        </div>
      </div><!--END FIRST-->
      <div class="col-4"><!--SECOND-->
        <div class="bg-black text-red-wind text-center border-title">
          <p class="p-2 mb-0">ESPIRITUOSOS</p>
        </div>
        <div class="bg-white border p-3" >
          <ng-container *ngIf="cellarLiquors.length>0; else noneLiquors">
            <div class="row" *ngFor="let item of cellarLiquors">
              <div class="col-2 pr-1 ml-0 text-wrap item-text">
                {{item.quantity}} x
              </div>
              <div class="col-8 pr-1 ml-0 text-wrap item-text">
                {{item.data.name}}
              </div>
              <div class="col-2 pr-1 ml-0 text-wrap item-text">
                <input type="checkbox" value="{{item.id}}" (change)="selectProduct($event)">
              </div>
            </div>
          </ng-container>
          <ng-template #noneLiquors>
            <div class="row">
              <div class="col pr-1 ml-0 text-wrap text-center">
                <p class="item-text mt-3 pt-5 pb-5">¿Necesitas sugerencias con espirituosos?</p>
                <div class="mt-5 mb-5 pt-3 pb-5">
                  <button class="btn btn-suggestion item-text pl-4 pr-4 pt-2 pb-2">
                    <span class="pl-2 pr-2">
                      Quiero Sugerencias
                    </span>
                  </button>
                </div>
              </div>
            </div>
          </ng-template>
        </div>
      </div><!--END SECOND-->
      <div class="col-4"><!--THIRD-->
        <div class="bg-black text-red-wind text-center border-title">
          <p class="p-2 mb-0">ENVÍO</p>
        </div>
        <div class="bg-white border pt-2 pb-3">
          <div class="border-bottom" id="cartSection" style="height: 149px;" *ngIf="listCellarSelect.length>0;else noneElements">
            <div  *ngFor="let item of listCellarSelect; let i = index">
              <hr *ngIf="i!=0" class="mt-1 mb-1">
              <div class="row m-0">
                <div class="col-9 pr-1 ml-0 text-wrap item-text">
                  {{item.data.name}}
                </div>
                <div class="col-1 pl-1 pr-1 ml-0 text-wrap item-text text-right">
                  <img (click)="remove(item.id)" class="img-cart-AR" src="../../../assets/minor.png" alt="" width="6">
                </div>
                <div class="col-1 pl-1 pr-1 ml-0 text-wrap item-text text-center ">
                  x{{item.quantity}}
                </div>
                <div class="col-1 pl-1 pr-1 ml-0 text-wrap item-text text-left">
                  <img (click)="add(item.id)" class="img-cart-AR" src="../../../assets/plus.png" alt="" width="8">
                </div>
              </div>
            </div>
          </div>
          <ng-template #noneElements>
            <div style="height: 149px;">
              <p class="item-text text-center pt-5">No se ha seleccionado ningún elemento.</p>
            </div>
            <hr>
          </ng-template>
          <div class="p-1" *ngFor="let shipping of shippingList; let i = index">
            <hr *ngIf="i!=0" class="mt-2">
            <input type="radio" class="ml-4" [(ngModel)]="shippingSelect"  value="{{shipping.id}}"> 
            <span class="pl-3">{{shipping.name}}</span>
          </div>
          <div class="text-right mt-3 pt-1 pb-1 pr-4">
            <button type="button" class="btn btn-ship" data-toggle="modal" data-target="#ShipModal">
              <span class="pl-4 pr-4">Confirmar</span>
            </button>
          </div>
        </div>
      </div><!--END THIRD-->
    </div>
    <!--PROMOTIONS-->
    <div class="row pb-0">
      <div class="col bg-gray p-0">
        <ul id="promotion" class="bg-gray promotion p-0 m-0 ml-3"> 
          <li class="promotion-Item bg-white mt-1" *ngFor="let itemPromo of suggestionList">
            <!--Card promotion-->
            <div class="row " >
              <div class="col text-right pt-2">
                <button class="btn btn-warning">Timer</button>
              </div>
            </div>
            <div class="row pt-3">
              <div class="col-4 p-0 pt-4 pl-1">
                <img src="{{itemPromo.imageUrl}}" alt="{{itemPromo.name}}" height="180" width="100">
              </div>
              <div class="col-7 text-left ml-1 pr-0">
                <p class="title-text font-weight-bold item">{{itemPromo.name}}</p>
                <p class="subtitle-text item">{{itemPromo.region}}</p>
                <hr class="item mt-1">
                <p class="title-text1 font-weight-bold m-0">Bodega:</p>
                <p class="subtitle-text item">{{itemPromo.cellar}}</p>
                <p class="title-text1 font-weight-bold m-0">Región:</p>
                <p class="subtitle-text item">{{itemPromo.region}}</p>
                <p class="title-text1 font-weight-bold m-0">Año:</p>
                <p class="subtitle-text item">{{itemPromo.year}}</p>
                <p class="title-text1 font-weight-bold m-0">Etiqueta:</p>
                <p class="subtitle-text item">{{itemPromo.label}}</p>
                <p class="title-text1 font-weight-bold m-0">Color:</p>
                <p class="subtitle-text item">{{itemPromo.windKind}}</p>
              </div>
            </div>
            <div class="row mb-0 pt-2">
              <div class="col-1"></div>
              <div class="col-2 text-right col-sm-4 ml-4">
                <input type="number" class="input-quantity mr-1" min="1" max="999" [(ngModel)]="itemPromo.quantityProd">
              </div>
              <div class="col-2 text-left col-sm-4">
                <a (click)="addCart(itemPromo.idP,'products',itemPromo.quantityProd)"><img src="../../../assets/btn-cart.png" class="img-add-cart" alt="buttom-cart" width="40" height="38" ></a>
              </div>
            </div>
            <!--End Card promotion-->
          </li>
        </ul>
      </div> 
      <!--div class="col-4">
        <img src="https://firebasestorage.googleapis.com/v0/b/e-mporio593.appspot.com/o/others%2Fpayment_winds.jpg?alt=media&token=3d134eaf-12d9-461a-b65d-13fc76ddf672" height="350" width="100%" alt="">
        <button class="btn btn-moreInfo">Conocer más</button>
      </div>  
    </div-->
    <!--END PROMOTION-->
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="ShipModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header bg-wind">
          <h5 class="modal-title text-white" id="exampleModalLabel">Mi Dirección</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true" class="text-white">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <input type="text" class="form-control" [(ngModel)]="address" name="address" placeholder="Ej. Francisco Salazar y Andalucia">
          <div class="row" *ngIf="addressShipping!=null;else newAddress">
            <div class="col-12">
              Mi dirección guardada
            </div>
            <div class="col">
              {{addressShipping}}
            </div>
          </div>
          <ng-template #newAddress>
            <p class="item-text text-center subtitle-text mb-0">No se ha registrado una dirección princial de envío.</p>
            <p class="item-text text-center subtitle-text mb-0" *ngIf="shippingSelect==1">La dirección que establezca se guardara y se mostrara como principal</p>
          </ng-template>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-close" data-dismiss="modal">Cerrar</button>
          <button type="button" class="btn bg-yellow " data-dismiss="modal" (click)="goToShip()">Enviar</button>
        </div>
      </div>
    </div>
  </div>