<!--Dinamic Home-->
<!--Begin-->
<div class="bg-body" *ngFor="let element of elementList;let orderI = index" >
  <div class="bg-tablero mt-1" [ngClass]="orderI==0? 'first-element':''" *ngIf="element.elementType==='Div' && element.sectionName=='Tablero'">
    <!--begin div-->
    <div>
      <div class="row text-center " style="width: 101%;"> <!--First row-->
        <!--First column-->
        <div *ngFor="let board of boardList | slice:0:1" class="col-6 pt-4 pb-4">
          <div class="row">
            <div class="col-12 text-right pr-2">
              <img *ngIf="board.imageUrl" src="{{board.imageUrl}}" alt="" height="70" width="85%">
            </div>
            <div class="col-2"></div>
            <div *ngFor="let board of boardList | slice:1:3" class="col-5 text-right pt-2 pl-0 pr-2" >  
              <img *ngIf="board.imageUrl" src="{{board.imageUrl}}" alt="" width="100%" height="200">
              <h3 *ngIf="board.title">{{board.title}}</h3>
              <p *ngIf="board.text">{{board.text}}</p>
            </div>
            <div class="col-2"></div>
            <div *ngFor="let board of boardList | slice:3:5" class="col-5 text-right pt-2 pl-0 pr-2" >  
              <img *ngIf="board.imageUrl" src="{{board.imageUrl}}" alt="" width="100%" height="200">
              <h3 *ngIf="board.title">{{board.title}}</h3>
              <p *ngIf="board.text">{{board.text}}</p>
            </div>
          </div>
        </div>
        <!--End First column-->
        <!--Second column-->
        <div  class="col-6 pt-3 pb-4">
          <div class="row">
            <div *ngFor="let board of boardList | slice:5:6" class="col-4 text-left pt-2 pl-1 pr-0" >  
              <img *ngIf="board.imageUrl" src="{{board.imageUrl}}" alt="" width="100%" height="278">
              <h3 *ngIf="board.title">{{board.title}}</h3>
              <p *ngIf="board.text">{{board.text}}</p>
            </div>
            <div *ngFor="let board of boardList | slice:6:7" class="col-6 text-left pt-2 pl-0 pr-0" >  
              <img *ngIf="board.imageUrl" src="{{board.imageUrl}}" alt="" width="100%" height="278">
              <h3 *ngIf="board.title">{{board.title}}</h3>
              <p *ngIf="board.text">{{board.text}}</p>
            </div>
            <div class="col-2"></div>
            <div *ngFor="let board of boardList | slice:7:9" class="col text-left pt-2 pl-1 pr-1" >  
              <img *ngIf="board.imageUrl" src="{{board.imageUrl}}" alt="" width="100%" height="200">
              <h3 *ngIf="board.title">{{board.title}}</h3>
              <p *ngIf="board.text">{{board.text}}</p>
            </div>
            <div class="col-2"></div>
          </div>
        </div>
      </div>
    </div>
    <!--end div section-->
  </div>
  <div class="bg-items mt-1 pt-1" [ngClass]="orderI==0? 'first-element':''" *ngIf="element.elementType==='Div' && element.sectionName=='Sugerencias'" >
    <!--begin div-->
    <div class="pt-2 pb-3">
      <div class="row text-center " style="width: 101%;">
        <div class="col-1"></div>
        <div *ngFor="let itemPromo of suggestionList" class="col bg-item ml-2" >
          <!--Card promotion-->
          <div class="row " >
            <div class="col text-right pt-3">
              <button class="btn btn-warning">Timer</button>
            </div>
          </div>
          <div class="row pt-3">
              <div class="col-5 pt-4">
                  <img src="{{itemPromo.imageUrl}}" alt="{{itemPromo.name}}" height="220" width="130">
              </div>
              <div class="col text-left">
                <p class="title-text font-weight-bold">{{itemPromo.name}}</p>
                <p class="subtitle-text space">{{itemPromo.region}}</p>
                <hr>
                <p class="title-text1 font-weight-bold">Bodega:</p>
                <p class="subtitle-text space">{{itemPromo.cellar}}</p>
                <p class="title-text1 font-weight-bold">Región:</p>
                <p class="subtitle-text space">{{itemPromo.region}}</p>
                <p class="title-text1 font-weight-bold">Año:</p>
                <p class="subtitle-text space">{{itemPromo.year}}</p>
                <p class="title-text1 font-weight-bold">Etiqueta:</p>
                <p class="subtitle-text space">{{itemPromo.label}}</p>
                <p class="title-text1 font-weight-bold">Color:</p>
                <p class="subtitle-text space">{{itemPromo.windKind}}</p>
              </div>
          </div>
          <div class="row mb-2 text-right pt-2">
            <div class="col-md-7 col-sm-4"></div>
            <div class="col-md-2 col-sm-4">
              <input type="number" class="input-quantity mr-1" min="0" max="999" >
            </div>
            <div class="col-md-1 col-sm-4">
              <a (click)="addCart(itemPromo.idP,'products')"><img src="../../../assets/btn-cart.png" class="img-add-cart" alt="buttom-cart" width="40" height="38" ></a>
            </div>
          </div>
          <!--End Card promotion-->
        </div>
        <div class="col-1"></div>
      </div>
    </div>
    <!--end div section-->
  </div>
  <div class="bg-items pt-1" [ngClass]="orderI==0? 'first-element':''" *ngIf="element.elementType==='Div' && element.sectionName=='Promociones'">
    <!--begin div-->
    <div class="pt-2 pb-3">
        <div class="row text-center " style="width: 101%;">
          <div class="col-1"></div>
          <div *ngFor="let itemPromo of promotionList" class="col bg-item ml-2" >
            <!--Card promotion-->
            <div class="row " >
              <div class="col text-right pt-3">
                <div *ngIf="itemPromo.time!=null && itemPromo.time!='00:00:00' ;else Expired" class="btn btn-warning">   
                  <span>{{itemPromo.time}}</span>
                </div>
                <ng-template #Expired>
                  <div class="btn btn-warning">   
                    <span>Expired</span>
                  </div>
                </ng-template>
              </div>
            </div>
            <div class="row pt-3">
                <div class="col-5 pt-4">
                    <img src="{{itemPromo.imageUrl}}" alt="{{itemPromo.title}}" height="220" width="130">
                </div>
                <div class="col text-left">
                  <p class="title-text font-weight-bold">{{itemPromo.title}}</p>
                  <hr>
                  <p class="title-text1 font-weight-bold">Detalle:</p>
                  <p class="subtitle-text space">{{itemPromo.detail}}</p>
                  <p class="subtitle-text space">{{itemPromo.startDate}}</p>
                  <p class="subtitle-text space">{{itemPromo.endDate}}</p>
                </div>
            </div>
            <div *ngIf="itemPromo.time!='00:00:00'" class="row mb-2 text-right pt-2">
                <div class="col-md-7 col-sm-4"></div>
                <div class="col-md-2 col-sm-4">
                  <input type="number" class="input-quantity mr-1" min="0" max="999" >
                </div>
                <div class="col-md-1 col-sm-4">
                  <a (click)="addCart(itemPromo.promoid,'promotion')"><img src="../../../assets/btn-cart.png" class="img-add-cart" alt="buttom-cart" width="40" height="38" ></a>
                </div>
              </div>
            <!--End Card promotion-->
          </div>
          <div class="col-1"></div>
        </div>
      </div>
      <!--end div section-->
  </div>
  <div class="bg-items mt-1 pt-1" [ngClass]="orderI==0? 'first-element':''" *ngIf="element.elementType==='Slide'">
    <!-- Slide 1 Sugerencia Pago-->
    <div>
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li *ngFor="let item of element.data; let i = index" data-target="#carouselExampleIndicators" data-slide-to="i" class="active"></li>
        </ol>
        <div class="carousel-inner">
          <div *ngFor="let item of element.data; let i = index" class="carousel-item" [ngClass]="i==0 ? 'active':''">
            <img src="{{item.imageUrl}}" class="d-block w-100" alt="..." height="400" width="100%">         
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
    <!--end Slide -->
  </div>
</div>
<!--End-->

<div id="cartItems" class="bg-body" style="width: 22rem;" [hidden]="showInfoCart">
  <div class="card-body p-0">
    <div class="row bg-black m-0 mb-1">
      <div class="col-2 p-0">
        <img class="img-arrow-left" (click)="hideInfoCart()" src="../../../assets/arrow-left.png" alt="" height="40" width="auto">
      </div>
      <div class="col">
        <p class="mb-2 mt-2 text-white text-alert">Seguir comprando</p>
      </div>
    </div>
    <div class="border">
      <div class="row bg-yellow m-0">
        <div class="col-2 p-0">
          <img src="../../../assets/check.png" alt="" height="40" width="auto">
        </div>
        <div class="col">
          <p class="mb-2 mt-2 text-white text-alert">Se agregó un artículo a tu cesta.</p>
        </div>
      </div>
      <!--Container-->
      <div id="cartSection" style="height: 149px;" *ngIf="listCart.length>0;else noneElements">
        <div  *ngFor="let item of listCart; let i = index">
          <hr *ngIf="i!=0" class="mt-1 mb-1">
          <div class="row m-0">
            <div class="col-7 pr-1 ml-0 text-wrap item-text">
              {{item.data.name}}
            </div>
            <!--
            <div class="col-1 pl-1 pr-1 ml-0 text-wrap item-text text-center">
              ${{item.data.cost}}
            </div>
            -->
            <div class="col-2 pl-1 pr-1 ml-0 text-wrap item-text text-center">
              x{{item.quantity}}
            </div>
            <div class="col-2 pl-1 pr-1 ml-0 text-wrap item-text text-center">
              ${{item.totalUni}}
            </div>
          </div>
        </div>
      </div>
      <ng-template #noneElements>
        <div style="height: 149px;">
          <p class="item-pay-text text-center pt-5">El carrito se encuentra vacío.</p>
        </div>
      </ng-template>
      <hr class="mt-2">
      <div class="row m-0">
        <div class="col ml-3 text-right">
          <p class="item-pay-text">Subtotal</p>
        </div>
        <div class="col">
          <p class="item-pay-text text-center" *ngIf="listCart.length==0">0</p>
          <p class="item-pay-text text-center" *ngIf="listCart.length!=0">$./ <span>{{subtotalPay}}</span></p>
        </div>
      </div>
      <div class="row mb-3 ml-0 mr-0">
        <div class="col text-center pt-2">
          <button *ngIf="itemsCart.length>0" class="btn btn-pay" [routerLink]="['/cart']">Finalizar</button>
          <a href="/products" *ngIf="itemsCart.length==0" class="btn btn-explorer"><span class="text-yellow">Explorar</span></a>
        </div>
      </div>
    </div>
    <!--end container-->
  </div>
</div>