.btn-temporal-promotion{
    position: absolute;
    bottom: 7px;
    right: 15px;
    z-index: 1;
}

.img-temporal-promotion{
    position: absolute;
    top: 10px;
    left: 20px;
}

.bg-body{
    background: #fff;
}
.bg-black{
    background-color: #000;
}
.bg-yellow{
    background-color: #f2b517;
}
.text-white{
    color:#fff;
}
.bg-items{
    background-color: #0D0D0D;
}

.bg-tablero{
    background-image: url("../../../assets/fondo-tablero.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

.bg-item{
    background-color: #fff
}

.title-text{
    color: #000;
    font-size: 15px;
    height: 45px;
}
.title-text1{
    color: #000;
    font-size: 12px;
}
.subtitle-text{
    color: #999999;
    font-size: 12px;
}

hr {
    border: 1px solid #fbd12c;
    margin-bottom: 0px !important;
}

p{
    margin: 0;
}

.input-quantity{
    width: 50px !important;
    border: 1px solid #cccccc;
    border-radius: 6px;
    height: 38px;
    width: 55.17px;
}

.img-add-cart{
    border-radius: 7px;
}

.btn-round{
    border-radius: 7px;
}
#cartSection{
    height: 149px;
    width: auto;
    overflow: auto;;
    background: #fff;
}
.item-text{
    color: #000;
    font-size: 12px;
}
.btn-pay{
    background-color: #fbd12c;
}
.btn-explorer{
    background-color: #000;
}
.text-alert{
    font-size: 14px;
}
#cartItems{
    position: fixed;
    top: 10%;
    right: 0%;
    z-index: 999;
}

.text-yellow{
    color:#fbd12c;
}
.img-arrow-left{
    cursor: pointer;
}
.first-element{
    margin-top: 4.75%!important;
}
.bg-white{
    background-color: #fff;
}