.btn-detail{
    position: absolute;
    bottom: 160px;
    width: 15%;
    right: 45px;
}

.btn-add{
    position: absolute;
    bottom: 35px;
    right: 35px;
}

.btn-wishes-List{
    position: absolute;
    top: 10px;
    right: 35px;
}
@media screen and (min-width: 750px){
    .btn-detail{    
        position: absolute;
    }

    .btn-detail{
        position: absolute;
    }
}

.bg-body{
    background-color: #0D0D0D;
}

.bg-item{
    background-color: #fff
}
.products-menu{
    background-color: #FBD12C;
}
.btn-gray{
    background-color: #3C3C3C;
    color: #fff;
    width: 90px;
    height: 40px;
}

.btn-gray-large{
    background-color: #3C3C3C;
    color: #fff;
    width: 150px;
    height: 40px;
}