.btn-detail{
    position: absolute;
    bottom: 160px;
    width: 15%;
    right: 45px;
}

.btn-add{
    position: absolute;
    bottom: 35px;
    right: 35px;
}

.btn-wishes-List{
    position: absolute;
    top: 12%;
    right: 10%;
}
@media screen and (min-width: 750px){
    .btn-detail{    
        position: absolute;
    }

    .btn-detail{
        position: absolute;
    }
}

.bg-body{
    background-color: #0D0D0D;
}
.bg-yellow{
    background-color: #f2b517;
}
.bg-black{
    background-color: #000;
}
.bg-item{
    background-color: #fff
}
.bg-white{
    background-color: #fff
}
.products-menu{
    background-color: #FBD12C;
}
.btn-gray{
    background-color: #3C3C3C;
    color: #fff;
    width: 90px;
    height: 40px;
}

.btn-gray-large{
    background-color: #3C3C3C;
    color: #fff;
    width: 150px;
    height: 40px;
}

.title-text{
    color: #000;
    font-size: 15px;
    height: 45px;
}
.title-text1{
    color: #000;
    font-size: 12px;
}
.subtitle-text{
    color: #999999;
    font-size: 12px;
}

hr {
    border: 1px solid #fbd12c;
    margin-bottom: 0px !important;
}

p{
    margin: 0;
}

.input-quantity{
    width: 50px !important;
    border: 1px solid #cccccc;
    border-radius: 6px;
    height: 38px;
    width: 55.17px;
}

.img-add-cart{
    border-radius: 7px;
}

.btn-round{
    border-radius: 7px;
}

.bg-select{
    background-color: #3C3C3C;
    border: none;
    color: #fff;
}

.no-element-show{
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    max-width: 100%;
    width: 30%;
    margin-right: 35%;
    margin-left: 35%;
}
.first-element{
    margin-top: 4.75%!important;
}
#cartItems{
    position: fixed;
    top: 10%;
    right: 0%;
    z-index: 999;
}
#cartSection{
    height: 149px;
    width: auto;
    overflow: auto;;
    background: #fff;
}
.text-yellow{
    color:#fbd12c;
}
.img-arrow-left{
    cursor: pointer;
}
.text-alert{
    font-size: 14px;
}
.item-text{
    color: #000;
    font-size: 12px;
}
.btn-pay{
    background-color: #fbd12c;
}
.btn-explorer{
    background-color: #000;
}