<!--The content below is only a placeholder and can be replaced.-->
<!-- Menu Header -->
<nav class="navbar navbar-expand-lg navbar-dark bg-menu">
    <a class="navbar-brand" href="#">
      <img src="https://upload.wikimedia.org/wikipedia/commons/a/ab/Logo_TV_2015.png" width="60" height="30" alt="Logo_Emporio">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/home">Inicio</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Productos
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/products">Vinos</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sobre Nosotros
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/us">¿Qué es el E-mporio?</a>
            </div>
          </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contacto</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <div class="input-group">
          <div class="input-group">
            <ng-auto-complete (selected)="Selected($event)" class="ng-autocomplete-dropdown" [group]="group" style=""></ng-auto-complete>
          </div>
        </div>
      </form>
      <ul class="navbar-nav ">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="https://openclipart.org/image/2400px/svg_to_png/247324/abstract-user-flat-1.png" width="30" height="30" alt="Usuario" title="Usuario"/>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a *ngIf="!isUserAuth"class="dropdown-item" href="/newUser">Registrarse</a>
            <a *ngIf="!isUserAuth"class="dropdown-item" href="/login">Iniciar Sesión</a>
            <a *ngIf="isUserAuth" class="dropdown-item" href="/profile">Mi perfil</a>
            <a *ngIf="isUserAuth" class="dropdown-item" href="#">Sugeridos</a>
            <a *ngIf="isUserAuth" class="dropdown-item" href="/wishes">Lista de deseos</a>
            <a *ngIf="isUserAuth" class="dropdown-item" href="#">Compras</a>
            <div *ngIf="isUserAuth" class="dropdown-divider"></div>
            <a *ngIf="isUserAuth" class="dropdown-item" (click)="logout()">Salir</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/cart">
            <img src="https://image.flaticon.com/icons/png/512/107/107831.png" width="30" height="30" alt="Carrito de compras" title="Carrito de compras"/>
            <span class="badge badge-success">{{countTotalItems}}</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <img src="https://img.icons8.com/ios/1600/door-opened.png" width="30" height="30" alt="Cava" title="Mi cava"/>
          </a>
        </li>
      </ul>
    </div>
  </nav>

  <!-- Pages container -->

<router-outlet class="bg-body"></router-outlet>

<!-- Footer content -->
<footer class="bg-footer " >
  <div class="row text-footer text-left pb-4" style="width: 101%;">
    <div class="col-3 footer-container">
      <div class="row pt-3 ">
        <div class="col">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active"><b>Empresa</b></li>
            <li class="nav-item">Nosotros</li>
            <li class="nav-item">Boletín Mensual</li>
            <li class="nav-item">Prensa</li>
          </ul>
        </div>
      </div>
      <div class="row pt-4">
        <div class="col">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active"><b>Servicio</b></li>
            <li class="nav-item">Certificado de Regalo</li>
            <li class="nav-item">Referir Amigo</li>
            <li class="nav-item">Contacto</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-1">
      <div class="row pt-4">
        <div class="col border-footer border-top-0 border-bottom-0 border-left-0 " style="height: 90px;"></div>
      </div>
      <div class="row pt-5">
        <div class="col border-footer border-top-0 border-bottom-0 border-left-0" style="height: 75px;"></div>
      </div>
    </div>
    <div class="col-3 footer-container">
      <div class="row pt-3">
          <div class="col ">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active"><b>Métodos de Pago</b></li>
                <li class="nav-item">American Express</li>
                <li class="nav-item">MasterCard</li>
                <li class="nav-item">Visa</li>
                <li class="nav-item">PayPal</li>
              </ul>
            </div>
      </div>
      <div class="row pt-4">
          <div class="col ">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active"><b>Información Legal</b></li>
                <li class="nav-item">Términos y Condiciones</li>
                <li class="nav-item">Política de Privacidad y Uso</li>
              </ul>
            </div>
      </div>
    </div>
    <div class="col-1">
      <div class="row pt-4">
        <div class="col border-footer border-top-0 border-bottom-0 border-left-0 " style="height: 90px;"></div>
      </div>
      <div class="row pt-5">
        <div class="col border-footer border-top-0 border-bottom-0 border-left-0" style="height: 75px;"></div>
      </div>
    </div>
    <div class="col-3 footer-container">
      <div class="row pt-3">
        <div class="col">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active"><b>Social</b></li>
                <li class="nav-item">Facebook</li>
                <li class="nav-item">Instagram</li>
              </ul>
        </div>
      </div>
      <div class="row pt-4">
        <div class="col">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active"><b>Susbcripción</b></li>
              </ul>
        </div>
      </div>
      <div class="row pt-4">
          <div class="col">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active"><b>Power by Urbano</b></li>
              </ul>
            </div>
      </div>
    </div>
  </div>
  <div class="row bg-footer1 text-center text-footer">
    <div class="col">
      <p>Power By ZWIPPE.COM</p>
    </div>
    <div class="col">
      <p>Derechos Reservados 2019. ©  E-MPORIO.STORE</p> 
    </div>
  </div>
</footer>