.bg-menu{
    background-color: #333333;
}
.navbar-dark .navbar-nav .nav-link{
    color: rgba(255, 255, 255);
}

.bg-footer{
    background-color: #333333
}
.bg-footer1{
    background-color: #222222;
    width: 101%;
}
.text-footer{
    color: #fff
}

.footer-container{
    padding-left: 130px;
}
.footer-container1{
    padding-left: 70px;
}
.border-color1 {
    border: 1px solid #FBD12C!important;
    border-left: 0!important;
    border-top: 0!important;
    border-bottom: 0!important;
}
.border-color2 {
    border: 1px solid #FBD12C!important;
    border-right: 0!important;
    border-top: 0!important;
    border-bottom: 0!important;
}
.megamenu {
  position:static;
}
.megamenu > .dropdown-menu {
  width:100%;
  background-color: #FBD12C;
  opacity: 0.9;
}

@media screen and (min-width: 992px) {
  .megamenu ul {
    padding-bottom:15px;
  }
  .megamenu > .dropdown-menu {
    min-width: 800px;
  }
}

.dropdown-item{
    font-size: 12px;
}
.dropdown-item:hover{
    background-color: transparent;
    font-size: 15px;
}
.dropdown-item-title{
    font-size: 14px;
}

.btn-suscription{
    background-color: #3c3c3c;
    color: #fff
}
.dropdown-toggle::after {
    display:none;
}