<div class="container p-5 first-element">
  <div class="row">
    <div class="col-3 text-center">
      <img src="https://openclipart.org/image/2400px/svg_to_png/247324/abstract-user-flat-1.png" alt="..." width="200" height="200">
      <div class="pt-3">
        <button *ngIf="!isEditing" type="button" class="btn btn-info" (click)="editProfile()">Editar</button>
        <button *ngIf="isEditing" type="button" class="btn btn-warning" (click)="saveNewData()">Guardar</button>
      </div>
    </div>
    <div class="col">
      <div class="card-body">
        <h4 class="text-title-profile mb-2">
          Nombres: <span *ngIf="!isEditing" class="font-weight-normal text-profile">{{userData.name}} {{userData.lastname}}</span>
        </h4> 
        <input *ngIf="isEditing" [(ngModel)]="newUserData.name" name="name" type="text" value="{{newUserData.name}}">
        <input *ngIf="isEditing" [(ngModel)]="newUserData.lastname" name="lastname" type="text" value="{{newUserData.lastname}}">
        <h4 *ngIf="!isEditing" class="text-title-profile mb-2">
          Correo: <span *ngIf="!isEditing" class="font-weight-normal text-profile">{{userData.mail}}</span>
        </h4> 
        <h4 *ngIf="!isEditing" class="text-title-profile mb-2">
          Código: <span *ngIf="!isEditing" class="font-weight-normal text-profile">{{userData.code}}</span>
        </h4> 
      </div>
    </div>
  </div>
</div>

