<form>
  <!--Alert-->
  <div *ngIf="message != null" class="alert alert-danger" role="alert">
      <strong>{{message}}</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <!--end Alert-->
  <div class="form-group">
    <label for="exampleInputEmail1">Correo</label>
    <input [(ngModel)]="mail" name="mail" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Correo" required>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Contraseña</label>
    <input [(ngModel)]="password" name="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Contraseña" required>
  </div>
  <a *ngIf="message != null" href="/newUser" class="btn btn-warning" >Registrarse</a>
  <button type="submit" class="btn btn-primary" (click)="login()">Iniciar Sesión</button>
  
</form>
