.bg-black{
    background-color: #000;
}
.bg-yellow{
    background-color: #FBD12C;
}
.bg-gray{
    background-color: #333333;
}
.bg-gray1{
    background-color: #E6E6E6;
}
.bg-gray2{
    background-color: #CCCCCC;
}
.text-yellow{
    color: #FBD12C;
}
.border-title{
    border-top-left-radius: 7px;
    border-top-right-radius:  7px;
}
.text-title{
    font-size: 19px;
}
.text-gray{
    color: #4D4D4D;
}
ul.promotion {
    position: relative;
    height: 350px;
}

ul > li.promotion-Item {
    width: 25%;
    list-style-type: none;
    position: absolute;
    top: 0;
    opacity: 0;
    text-align: center;
    transition: 1s opacity; 
}

.active {
    opacity: 1 !important;
}

* {
    box-sizing: border-box;
}

hr.item {
    border: 1px solid #fbd12c;
    margin-bottom: 0px !important;
}

p.item{
    margin: 0;
}

.title-text{
    color: #000;
    font-size: 16px;
}
.title-text1{
    color: #000;
    font-size: 12px;
}
.subtitle-text{
    color: #999999;
    font-size: 12px;
}

.input-quantity{
    width: 50px !important;
    border: 1px solid #cccccc;
    border-radius: 6px;
    height: 38px;
    width: 55.17px;
}

.img-add-cart{
    border-radius: 7px;
}

.btn-round{
    border-radius: 7px;
}

.btn-moreInfo{
    background-color: #fbd12c;
    position: absolute;
    width: 150px;
    right: 5%;
    bottom: 3%;
}

#cartSection{
    height: 149px;
    width: auto;
    overflow: auto;;
    background: #fff;
}
.text-error{
    font-size: 18px;
}