<div class="container first-element">
  <!--Title-->
  <div class="row text-center mt-2">
    <div class="col-4"></div>
    <div class="pt-1 col-4">
      <p class="bg-black text-yellow text-center border-title mb-0 text-title pt-2" style="height: 45px!important">Detalles de la compra</p>
    </div>
    <div class="col-4"></div>
  </div>
  <!--End title-->
  <!--Content-->
  <div *ngIf="isAuth; else Error">
    <div *ngIf="orderId!=null;else elements">
      <!--Head-->
      <div class="row text-center mt-2">
        <div class="col">
          <p class="font-weight-bold">Fecha de compra: <span *ngIf="order.date!=undefined" class="font-weight-normal">{{order.date}}</span> </p>
        </div>
        <div class="col">
          <p class="font-weight-bold">Pago realizado con: <span *ngIf="order.payment!=undefined" class="font-weight-normal">{{order.payment}}</span> </p>
        </div>
        <div class="col">
          <p class="font-weight-bold">Total compra: <span *ngIf="order.subtotal!=undefined" class="font-weight-normal">$ {{order.subtotal}}</span> </p>
        </div>
      </div>
      <!--Head table-->
      <div class="row p-1">
        <div class="col-2"></div>
        <div class="col-1 bg-yellow mr-0"></div>
        <div class="col-5 bg-yellow mr-1">
          <p class="mb-0 text-center">Tipo producto</p>
        </div>
        <div class="col-1 bg-yellow mr-1">
          <p class="mb-0 text-center">Cantidad</p>
        </div>
        <div class="col-1 bg-yellow mr-1">
          <p class="mb-0 text-center">Precio U.</p>
        </div>
      </div>
      <!--Body-->
      <div *ngFor="let item of order.itemsProd; let i = index" class="row pt-1 pl-1">
        <div class="col-2"></div>
        <div class="col-1 text-center mr-0 pt-2" [ngClass]="i%2==0 ? 'bg-gray1':'bg-gray2'" style="margin-right: -3px!important;">
          <img src="{{item.data.imageUrl}}" alt="" height="120" width="80">
        </div>
        <div class="col-5 text-left pt-4 mr-1"  [ngClass]="i%2==0 ? 'bg-gray1':'bg-gray2'">
          <p class="text-gray p-0 m-0 "> 
            <img src="../../../assets/star.png" alt="" height="15" width="15" style="margin-top: -3px"> <span class="pl-2">{{item.data.name}}</span>
          </p>
          <p class="text-gray p-0 m-0 pl-4">{{item.data.windKind}}</p>
          <p class="text-gray p-0 m-0 pl-4">{{item.data.variety}}</p>
        </div>
        <div class="col-1 text-center mr-1 pt-4" [ngClass]="i%2==0 ? 'bg-gray1':'bg-gray2'">
          <p class="text-gray p-0 m-0">{{item.quantity}}</p>
        </div>
        <div class="col-1 text-center pt-4" [ngClass]="i%2==0 ? 'bg-gray1':'bg-gray2'">
          <p class="text-gray p-0 m-0">{{item.data.cost}}</p>
        </div>
      </div>
      <!--End content-->
    </div>
    <ng-template #elements>
      <div class="alert alert-warning alert-dismissible fade show mt-3" role="alert">
        <p class="mb-0 text-center text-error">{{messageElements}}</p>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="text-center">
        <button class="btn bg-gray text-yellow" [routerLink]="['/historial']">Mis compras</button>
      </div>
    </ng-template>
  </div>
  <ng-template #Error>
    <div class="alert alert-danger alert-dismissible fade show mt-3" role="alert">
      <p class="mb-0 text-center text-error">{{messageAuth}}</p>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="text-center">
      <button class="btn bg-gray text-yellow" [routerLink]="['/products']">Explorar</button>
    </div>
  </ng-template>
</div>